.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Raleway;
    font-size: 18px;
}

a:link {
    color: #0c37ff;
}

a:visited {
    color: #0c37ff;
}

.language-container {
    margin-top: 16px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

select.language-selector {
    background: transparent;
    color: white;
    border: 0;
    padding: 5px 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.language-selector::-ms-expand {
    display: none;
}

.language-container:after {
    display: block;
    content: "\25bc";
    color: white;
    font-size: 12px;
    margin-top: 7px;
    right: 4px;
}

.language-selector option {
    line-height: 16px;
    background: white;
    color: black;
}

header {
    position: relative;
    font-family: Raleway;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background-color: #0c37ff;

}

header .container {
    position: relative;
    z-index: 2;
}

.style-mark {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 50vw;
    height: 45vh;
    z-index: -1;
    background-color: #eb759e;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

main {
    background: #eb759e;
    color: white;
    text-align: center;
    padding-bottom: 20%;
}

.slide {
    padding-top: 20%;
    max-width: 960px;
}

.slide--first {
    padding-top: 10%;
}

.slide--video {
    padding-top: 128px;
}

.slide--map {
    padding-top: 128px;
}

.privacy {
    padding-top: 48px;
    max-width: 960px;
    text-align: left;
}

.slide h2 {
    margin-bottom: 48px;
}

.learn-more {
    display: inline-block;
    margin-top: 48px;
}

footer {
    background: #eb759e;
    color: white;
    font-size: small;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5vh;
}

footer a:link,
footer a:visited {
    color: white;
}

.disclaimer {
    max-width: 80vh;
    font-size: 12px;
}

#_progress {
    --scroll: 0%;
    background: linear-gradient(to right,#0c37ff var(--scroll),transparent 0);
    position: fixed;
    width: 100%;
    height: 5px;
    top:0px;
    z-index: 100;
}

.socials {
    display: flex;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.socials div {
    padding: 10px
}

footer {
    text-align: left;
}

.direction-rtl {
    direction: rtl;
}

#footer.direction-rtl p {
    text-align: right;
}

.direction-ltr {
    direction: ltr;
}

@media (max-width: 530px) {
    .socials div {
        padding: 5px;
    }
    .guidelines div {
        margin-top: 16px;
    }
}

