/*
 * Sorted by specificity https://jonassebastianohlsson.com/specificity-graph/
 *
 * TODO: Sort: Generic > Elements > Objects > Components > Utilities
 */

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: 'Open Sans';
}

header {
    font-family: "Roboto";
    position: relative;
    height: 100vh;
    width: 100%;
    /*min-height: 25rem;*/
    overflow: hidden;
    color: #0c37ff;
    background: rgb(248,250,255);
    background: linear-gradient(0deg, rgba(248,250,255,1) 20%, rgba(236,240,251,1) 85%);
}

h1 {
    font-family: "Open Sans";
    font-weight: bold;
}

main {
    background: #f8faff;
    color: #0c37ff;
    text-align: center;
    padding-bottom: 8%;
}

footer {
    font-family: "Open Sans";
    background: #45a640;
    color: #f8faff;
    font-size: small;
    align-items: center;
    text-align: center;
    /*font-weight: 700;*/
    justify-content: center;
    padding: 1vh;
}

footer a:link,
footer a:visited {
    color: #f8faff;
    text-decoration: underline;
}

a:link,
a:visited {
    color: #0c37ff;
    font-weight: bolder;
    font-family: "Open Sans";
}

header .container {
    position: relative;
    z-index: 2;
}

select.language-selector {
    background: transparent;
    color: #0c37ff;
    font-family: "Open Sans";
    border: 0;
    padding: 5px 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.language-selector::-ms-expand {
    display: none;
}

.logo-small {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 8vh
}

.logo-large {
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 8vh
}

.language-container {
    margin-top: 16px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.language-container:after {
    display: block;
    content: "\25bc";
    color: #0c37ff;
    font-size: 12px;
    margin-top: 7px;
    right: 4px;
}

.language-selector option {
    line-height: 16px;
    background: #f8faff;
    color: black;
}

@keyframes bounce {
    50% {
        transform: translateY(-5px);
    }
}

.slide {
    height: 100vh;
    width: 100%;
    /*padding-top: 15%;*/
    max-width: 960px;
}

.privacy,
.about {
    font-family: "Open Sans";
    max-width: 960px;
    text-align: left;
    line-height: 3.5vh;
    padding-top: 5vh
}

.slide h2 {
    margin-bottom: 48px;
}

.col-sm {
    font-family: "Roboto";
    font-weight: 500;
}

.learn-more {
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 48px;

    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#disclaimer {
    line-height: 3vh;
    font-size: small;
    padding-top: 15%;
    font-family: 'Open Sans';
}

.socials {
    display: flex;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.socials div {
    padding: 10px
}

.direction-rtl {
    direction: rtl;
}

.direction-ltr {
    direction: ltr;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    padding-top: 20%;
}

#_progress {
    --scroll: 0%;
    background: linear-gradient(to right,#45a640 var(--scroll),transparent 0);
    position: fixed;
    width: 100%;
    height: 5px;
    top:0px;
    z-index: 100;
}

#title {
    font-family: 'Open Sans';
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: .3em;
    line-height: 1.35em;
    padding-top: 0.65em;"
}

#footer.direction-rtl p {
    text-align: right;
}

/*-----------------------------------
TABLET
----------------------------------- */
@media screen and (min-width: 716px) and (max-width: 1024px) {

}

/*-----------------------------------
MOBILE
----------------------------------- */
@media only screen and (max-width: 1024px) {

    main {
        width: 100%;
    }

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: xx-large;
    }

    footer {
        font-size: small;
    }

    .about,
    .privacy {
        padding-top: 5vh;
        line-height: 5vh;
        font-family: "Open Sans";
        font-size: smaller;
    }

    #disclaimer {
        font-size: x-small;
    }

    .content {
        padding-top: 5%;
    }

    .col-sm {
        font-size: medium
    }

    #title {
        font-size: 5.5vh;
        padding-top: 10%
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem
    }
}

@media (max-width: 530px) {
    .socials div {
        padding: 5px;
    }
    .guidelines div {
        margin-top: 16px;
    }
}

@media (max-width: 320px) {
    .col-sm {
        font-size: small;
    }

    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: x-large;
    }

    footer {
        font-size: small;
    }

    .about,
    .privacy {
        padding-top: 12px;
        line-height: 5vh;
        font-family: "Open Sans";
        font-size: medium;
    }

    .content {
        padding-top: 5%;
    }

    #title {
        font-size: 5.5vh;
        padding-top: 10%
    }


}