{% assign copy = site.data.copy %}
{% assign urlLang = page.lang %}
{% if page.lang == site.default_lang %}
    {% assign urlLang = '' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"               content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description"            content="{{ page.metaDescription }}">
    <meta name="keywords"               content="HTML,CSS,JavaScript">
    <meta name="author"                 content="stayhomecampaign.org">
    <meta property="og:url"             content="https://stayhomecampaign.org/{{ urlLang }}" />
    <meta property="og:type"            content="website" />
    <meta property="og:title"           content="Stay Safe During the Coronavirus Pandemic • #STAYHOME" />
    <meta property="og:image"           content="/img/logo-png.png" />
    <meta http-equiv="Content-Language" content="{{ page.lang }}">
    <link rel="canonical"               href="https://stayhomecampaign.org" />
    <link rel="alternate"               hreflang="{{site.default_lang}}" href="https://stayhomecampaign.org{{page.permalink}}" />
    {% for lang in site.languages %}
        {% if lang[0] == site.default_lang %}
            {% continue %}
        {% endif %}
    <link rel="alternate" hreflang="{{lang[0]}}" href="https://stayhomecampaign.org/{{lang[0]}}{{page.permalink}}" />
    {% endfor %}
    <!--    <link rel="icon" type="image/png" href="/img/favicon.png">-->

    <title>Stay Safe During the Coronavirus Pandemic • #STAYHOME</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/stayhome.css">

    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160661864-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-160661864-1');
    </script>

</head>
<body>

<!-- Facebook share button -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<!-- Progress bar by https://medium.com/@nilayvishwakarma/ -->
<div id="_progress"></div>
<script>
    document.addEventListener(
        "scroll",
        function() {
            var scrollTop =
                document.documentElement["scrollTop"] || document.body["scrollTop"];
            var scrollBottom =
                (document.documentElement["scrollHeight"] ||
                    document.body["scrollHeight"]) - document.documentElement.clientHeight;
            scrollPercent = scrollTop / scrollBottom * 100 + "%";
            document
                .getElementById("_progress")
                .style.setProperty("--scroll", scrollPercent);
        },
        { passive: true }
    );
</script>

<!-- Header -->
<header>
    <div class="container language-container">
        <select class="language-selector" onchange="document.location.href=this.value"> 
            {% for lang in site.languages %}
                {% assign href = lang[0] %}
                {% if href == site.default_lang %}
                    {% assign href = '' %}
                {% endif %}
                {% if href == page.lang %}
                    <option selected value="/{{ href }}">{{ lang[1] }}</option>
                    {% continue %}
                {% endif %}
                    <option value="/{{ href }}">{{ lang[1] }}</option>
            {% endfor %}
        </select> 
    </div>
    <div class="container h-100">
        <div class="h-100 text-center align-items-center">

            <!-- LOGO -->
            {% include logo-small-a.html %}

            <!-- TITLE -->
            <h1 class="direction-{{page.direction}}" id="title">
                {{ page.title }}
            </h1>

            <a class="learn-more" href="#slide-2">{{ page.learnMore }}</a>
        </div>
        </div>
    </div>
</header>

<main>

    <!--    <section class="container slide slide&#45;&#45;video">-->
    <!--        <div class="embed-responsive embed-responsive-16by9">-->
    <!--            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/adnjc7jQjoc?rel=0" allowfullscreen></iframe>-->
    <!--        </div>-->
    <!--        <a class="learn-more" href="#slide-2">{{ page.learnMore }}</a>-->
    <!--    </section>-->

    <section class="direction-{{page.direction}} container slide mx-auto" id="slide-2">
        <div class="container h-100 content">
            <h2><strong>{{ page.section1-title }}</strong></h2>
            <div class="row guidelines justify-content-center">
                <div class="col-sm">
                    🌍 <br> {{ page.section1-1 }}
                </div>
                <div class="col-sm">
                    🌎 <br> {{ page.section1-2 }}
                </div>
                <div class="col-sm">
                    🌏 <br> {{ page.section1-3 }}
                </div>
            </div>
            <a class="learn-more" href="#slide-3">{{ page.learnMore }}</a>
        </div>
    </section>

    <section class="direction-{{page.direction}} container slide" id="slide-3">
        <div class="container h-100 content">
        <h2><strong>{{ page.section2-title }}</strong></h2>
        <div class="row guidelines justify-content-center">
            <div class="col-sm">
                🌍 <br> {{ page.section2-1 }}
            </div>
            <div class="col-sm">
                🌎 <br> {{ page.section2-2 }}
            </div>
            <div class="col-sm">
                🌏 <br> {{ page.section2-3 }}
            </div>
        </div>
        <a class="learn-more" href="#slide-4">{{ page.learnMore }}</a>
        </div>
    </section>

    <section class="direction-{{page.direction}} container slide mx-auto" id="slide-4">
        <div class="container h-100 content" style="padding-top: 5%">
            <h2><strong>{{ page.section4-title }}</strong></h2>
            <div class="justify-content-center">
                <div class="col-sm">
                    <p>{{ page.badAdvice }}</p>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=123SPwXLZI3M8iqwgmkxbCsNsQG8Ak1ad" width="640" height="480"></iframe>
                </div>
                <br>
                <div class="col-sm">
                    <p> {{ page.missAnything }} <a href="https://docs.google.com/forms/d/e/1FAIpQLSclVNzZJvGd72HoNKJDEolKKb_UROUgBrwpnFS4QJ5mV0mVYw/viewform">{{ page.letUsKnow }}</a></p>
                </div>
                <a class="learn-more" href="#slide-5">{{ page.learnMore }}</a>
            </div>
        </div>
    </section>

    <section class="direction-{{page.direction}} container slide mx-auto" id="slide-5">
        <div class="container content">

            <h2><strong>{{ page.section5-title }}</strong></h2>
            <div class="row guidelines justify-content-center">

                <!-- SHARE ON WHATSAPP -->
                <div class="col-sm">
                    <a class="btn btn-success btn-sm border-0" role="button" href="https://api.whatsapp.com/send?&text=https://stayhomecampaign.org" style="color: white">WhatsApp</a>
                </div>

                <!-- SHARE ON FACEBOOK -->
                <div class="col-sm">
                    <a target="_blank" class="btn btn-primary btn-sm border-0" role="button" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstayhomecampaign.org%2F&amp;src=sdkpreparse" style="color: white">Facebook</a>
                </div>

            </div>

            <div class="col-sm">
            <div style="padding-top: 5vh">
                <p>{{ page.learnMoreAt }}
                    <a href="https://www.who.int/health-topics/coronavirus" target="_blank">who.int</a>,
                    <a href="https://www.un.org/en/coronavirus" target="_blank">un.org</a>,
                    <a href="https://www.unicef.org/malawi/coronavirus-disease-covid-19" target="_blank">unicef.org</a>,
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/" target="_blank">cdc.gov</a>,
                    <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/coronavirus-social-distancing-and-self-quarantine" target="_blank">hopkinsmedicine.org</a>.
                </p>
            </div>
            </div>

            <a class="learn-more" href="#slide-6">{{ page.learnMore }}</a>
        </div>
    </section>

    <section class="direction-{{page.direction}} container mx-auto" id="slide-6">
        <div class="container content" ; style="line-height: 5vh">
            <div class="col-sm">
            <div>
                <p>{{ page.follow }} <a href="https://www.facebook.com/stayhomecampaign/" target="_blank">facebook.com/stayhomecampaign</a></p>
            </div>
            </div>

            <!-- LIKE ON FACEBOOK -->
            <div class="bounce">
                <div class="fb-like" data-href="https://www.facebook.com/stayhomecampaign" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
            </div>

            <!--            <div style="padding: 10%">-->
            <!--                <div class="fb-post" data-href="https://www.facebook.com/stayhomecampaign/posts/115956356696424" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/stayhomecampaign/posts/115956356696424" class="fb-xfbml-parse-ignore"><p>Stay calm, stay home! Can we spread this message faster than the virus?</p>Posted by <a href="https://www.facebook.com/stayhomecampaign/">STAY HOME</a> on&nbsp;<a href="https://developers.facebook.com/stayhomecampaign/posts/115956356696424">Saturday, 21 March 2020</a></blockquote></div>-->
            <!--            </div>-->

            <div class="container w-85 text-sm-left" id="disclaimer">
                {{ page.disclaimer }}
            </div>
        </div>
    </section>
</main>

{% include footer.html %}

</body>
</html>
