{% assign copy = site.data.copy %}
{% assign urlLang = page.lang %}
{% if page.lang == site.default_lang %}
    {% assign urlLang = '' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{{ page.metaDescription }}">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="stayhomecampaign.org">
    <meta property="og:url"           content="https://stayhomecampaign.org/{{ urlLang }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Stay Home to Limit the Spread of the Coronavirus #STAYHOME" />
    <meta property="og:image"         content="/img/logo-mix2.png" />
    <meta http-equiv="Content-Language" content="{{ page.lang }}">
    <link rel="canonical" href="https://stayhomecampaign.org" />
    <link rel="alternate" hreflang="{{site.default_lang}}" href="https://stayhomecampaign.org{{page.permalink}}" />
    {% for lang in site.languages %}
        {% if lang[0] == site.default_lang %}
            {% continue %}
        {% endif %}
    <link rel="alternate" hreflang="{{lang[0]}}" href="https://stayhomecampaign.org/{{lang[0]}}{{page.permalink}}" />
    {% endfor %}
    <!--    <link rel="icon" type="image/png" href="/img/favicon.png">-->

    <title>Stay Home to Limit the Spread of the Coronavirus #STAYHOME</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/stayhome.css">

    <link href="https://fonts.googleapis.com/css?family=Lato|Sen|Raleway:700&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160661864-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-160661864-1');
    </script>

</head>
<body>
<!-- Facebook share button -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<!-- Progress bar by https://medium.com/@nilayvishwakarma/ -->
<div id="_progress"></div>
<script>
    document.addEventListener(
        "scroll",
        function() {
            var scrollTop =
                document.documentElement["scrollTop"] || document.body["scrollTop"];
            var scrollBottom =
                (document.documentElement["scrollHeight"] ||
                    document.body["scrollHeight"]) - document.documentElement.clientHeight;
            scrollPercent = scrollTop / scrollBottom * 100 + "%";
            document
                .getElementById("_progress")
                .style.setProperty("--scroll", scrollPercent);
        },
        { passive: true }
    );
</script>

<!-- Header -->
<header>
    <div class="container language-container">
        <select class="language-selector" onchange="document.location.href=this.value"> 
            {% for lang in site.languages %}
                {% assign href = lang[0] %}
                {% if href == site.default_lang %}
                    {% assign href = '' %}
                {% endif %}
                {% if href == page.lang %}
                    <option selected value="/{{ href }}">{{ lang[1] }}</option>
                    {% continue %}
                {% endif %}
                    <option value="/{{ href }}">{{ lang[1] }}</option>
            {% endfor %}
        </select> 
    </div>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 style="font-size: 5vw" class="direction-{{page.direction}}">{{ page.title }}</h1>
                <p style="font-weight: bold; font-size: 10vw">#STAYHOME</p>
            </div>
            <div class="style-mark"></div>
        </div>
    </div>
</header>

<main>
<!--    <section class="container slide slide&#45;&#45;video">-->
<!--        <div class="embed-responsive embed-responsive-16by9">-->
<!--            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/adnjc7jQjoc?rel=0" allowfullscreen></iframe>-->
<!--        </div>-->
<!--        <a class="learn-more" href="#slide-2">{{ page.learnMore }}</a>-->
<!--    </section>-->

    <section class="direction-{{page.direction}} container slide slide" id="slide-2">
        <h2 class="h1"><strong>{{ page.section1-title }}</strong></h2>
        <div class="row guidelines justify-content-center">
            <div class="col-sm">
                🌍 {{ page.section1-1 }}
            </div>
            <div class="col-sm">
                🌎 {{ page.section1-2 }}
            </div>
            <div class="col-sm">
                🌏 {{ page.section1-3 }}
            </div>
        </div>
        <a class="learn-more" href="#slide-3">{{ page.learnMore }}</a>
    </section>

    <section class="direction-{{page.direction}} container slide" id="slide-3">
        <h2 class="h1"><strong>{{ page.section2-title }}</strong></h2>
        <div class="row guidelines justify-content-center">
            <div class="col-sm">
                🌍 {{ page.section2-1 }} <a href="https://www.youtube.com/watch?v=y7e8nM0JAz0" target="_blank">*</a>
            </div>
            <div class="col-sm">
                🌎 {{ page.section2-2 }}
            </div>
            <div class="col-sm">
                🌏 {{ page.section2-3 }}
            </div>
        </div>
        <a class="learn-more" href="#slide-4">{{ page.learnMore }}</a>
    </section>

    <section class="direction-{{page.direction}} container slide" id="slide-4">
        <h2 class="h1"><strong>{{ page.section3-title }}</strong></h2>
        <div class="row guidelines justify-content-center">
            <div class="col-sm">
                🌍 {{ page.section3-1 }}
            </div>
            <div class="col-sm">
                🌎 {{ page.section3-2 }}
            </div>
            <div class="col-sm">
                🌏 {{ page.section3-3 }}
            </div>
        </div>
        <a class="learn-more" href="#slide-5">{{ page.learnMore }}</a>
    </section>

    <section class="direction-{{page.direction}} container slide" id="slide-5">
        <h2 class="h1"><strong>{{ page.section4-title }}</strong></h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=123SPwXLZI3M8iqwgmkxbCsNsQG8Ak1ad" width="640" height="480"></iframe>
        </div>
        <br>
        <p> {{ page.missAnything }} <a href="https://docs.google.com/forms/d/e/1FAIpQLSclVNzZJvGd72HoNKJDEolKKb_UROUgBrwpnFS4QJ5mV0mVYw/viewform">{{ page.letUsKnow }}</a></p>
        <a class="learn-more" href="#slide-6">{{ page.learnMore }}</a>
    </section>

    <section class="direction-{{page.direction}} container slide" id="slide-6">
        <div>
            <p>{{ page.learnMoreAt }}
                <a href="https://www.who.int/health-topics/coronavirus" target="_blank">who.int</a>,
                <a href="https://www.un.org/en/coronavirus" target="_blank">un.org</a>,
                <a href="https://www.unicef.org/malawi/coronavirus-disease-covid-19" target="_blank">unicef.org</a>,
                <a href="https://www.cdc.gov/coronavirus/2019-ncov/" target="_blank">cdc.gov</a>,
                <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/coronavirus-social-distancing-and-self-quarantine" target="_blank">hopkinsmedicine.org</a>.
            </p>
        </div>
        <div style="margin-top: 10px">
            <p>Join stayhomecampaign.org on <a href="https://www.facebook.com/stayhomecampaign/" target="_blank">facebook.com/stayhomecampaign</a>.</p>
        </div>

        <div class="socials"> 
            <div class="fb-share-button" data-href="https://stayhomecampaign.org/{{ urlLang }}" data-layout="button_count" data-size="large">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstayhomecampaign.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                    Share
                </a>
            </div>
            <div class="fb-like" data-href="https://www.facebook.com/stayhomecampaign" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false">
            </div>
            <div>
                <!--                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I&#39;m staying home during the #covid-19 outbreak! " data-url="http://stayhomecampaign.org/{{ urlLang }}" data-hashtags="stayhome" data-show-count="false">-->
                <!--                    Tweet-->
                <!--                </a>-->
                <!--                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
            </div>
        </div>

        <div style="padding: 20px">
            <a class="btn btn-success btn-sm border-0" role="button" href="https://api.whatsapp.com/send?&text=https://stayhomecampaign.org" style="color: white">WhatsApp</a>
        </div>
    </section>
</main>
<footer class="direction-{{page.direction}}" id="footer" style="font-size: small; font-family: Arial; background-color: #0c37ff; color: white; padding: 2vw">
    <p>
        <a href="/privacy" target="_blank">Privacy policy.</a>
        <a href="http://about.stayhomecampaign.org/" target="_blank">About.</a>
        <a href="mailto:contact@stayhomecampaign.org">Contact.</a>
    </p>
    <p>{{ page.disclaimer }}</p>
</footer>
</body>
</html>
