<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="About stayhomecampaign.org">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta http-equiv="Content-Language" content="en">

    <title>Map stayhomecampaign.org </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/stayhome.css">

    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Raleway&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160661864-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-160661864-1');
    </script>

</head>
<body>
<!-- Facebook share button -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<main style="background: rgb(248,250,255); background: linear-gradient(0deg, rgba(248,250,255,1) 20%, rgba(236,240,251,1) 85%);">
    <header style="height: 0"></header>

    {% include logo-small-a.html %}

    <section class="direction-{{page.direction}} container map" style="padding-top: 5vh">

        <p>{{ page.badAdvice }}</p>


        <!-- Map-->
        <div class="embed-responsive embed-responsive-21by9">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=123SPwXLZI3M8iqwgmkxbCsNsQG8Ak1ad" width="640" height="480"></iframe>
        </div>

        <br>
        <p>{{ page.missAnything }} <a href="https://docs.google.com/forms/d/e/1FAIpQLSclVNzZJvGd72HoNKJDEolKKb_UROUgBrwpnFS4QJ5mV0mVYw/viewform">{{ page.letUsKnow }}</a></p>

    </section>
</main>

{% include footer.html %}

</body>
</html>